<% if @employee.office.nil?
     @form_path = @employee
   else
     @form_path = [@employee.office, @employee]
   end %>

<%= form_for(@form_path) do |f| %>
  <% if @employee.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <h3><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h3>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Имя' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Должность' %>
    <%= f.text_field :post %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %> <%= link_to 'Отмена', @back, :class => 'btn' %>
  </div>
<% end %>
