<h1>
  <%= @employees.first.office.name %>
</h1>

<p>
  <%= @employees.first.office.address %>
</p>

<h2>Сотрудники отделения</h2>

<table>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.post %></td>
    <td><%= link_to 'Show', [employee.office, employee] %></td>
    <td><%= link_to 'Edit', edit_office_employee_path(employee.office, employee) %></td>
    <td><%= link_to 'Destroy', [employee.office, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_office_employee_path %>
