<h1>Сотрудники</h1>

<table>
<% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.name, employee_visits_path(employee) %><br /><span style="font-size: 12px;"><%= employee.post %></span></td>
    <td><%= if !employee.office.nil?; link_to employee.office.name, employee.office; end %></td>
    <td><%= link_to 'Изменить', edit_employee_path(employee) %></td>
    <td><%= link_to 'Удалить', employee_url(employee), :method => :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
