<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Post:</b>
  <%= @employee.post %>
</p>

<p>
  <b>Office:</b>
  <%= @employee.office %>
</p>


<%= link_to 'Edit', edit_office_employee_path(@employee) %> |
<%= link_to 'Back', office_employees_path %>
