<h1>Журнал посетителей</h1>

<table>
<% @visits.each do |visit| %>
  <tr>
    <td><%= visit.created_at.to_s(:time) %> <span class="date"><%= visit.created_at.to_s(:date) %></span></td>
    <td><%= visit.employee.name %></td>
    <td><% if visit.inout == 'in' %>
    <i class="icon-arrow-right"></i>
    <% end %>
    <% if visit.inout == 'out' %>
    <i class="icon-arrow-left"></i>
    <% end %></td>
    <td><%= visit.office.name %></td>
    <td><%= link_to 'Show', visit %></td>
    <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
    <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
