<!DOCTYPE html>
<html>
<head>
  <title>КПП</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<ul>
  <li>
    <%= link_to "Отделения", offices_path %>
  </li>
  <% if admin_signed_in? %>
  <li>
	<%= current_admin.email %> <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %>
  </li>
  <% end %>
  <% if user_signed_in? %>
  <li>
	<%= current_user.email %> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  </li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
